.item {
  width: 100%;
  display: flex;
  gap: 1.6rem;
  border-bottom: 1px solid var(--line-color);
  padding: 0 0 1.25rem 0;
}

.wrapperImage {
  flex: 1 0 auto;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
}

.wrapperContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.favorite {
  gap: 0.7rem;

  @media (any-hover: hover) {
    &:hover {
      color: var(--accent-color);
    }
  }
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 2.2rem;
}
