.searchForm {
  display: flex;
}

.button, .submitButton {
  background: transparent;
  border: none;
  padding: 0;
}

.form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background: var(--background-color);
  transition: transform var(--duration) var(--easing);
  overflow-y: hidden;

  border-bottom: 2px solid var(--line-color);
}

.hidden {
  transform: translateY(-100%);
}

.show {
  transform: translateY(0);
}

.wrapper {
  padding: 12px 100px;
}

.row {
  position: relative;
  display: flex;
  padding: 1rem 0.5rem;
  border: 1px solid var(--line-color);
  border-radius: 16px;
}

.formControl {}

.submitButton {
  position: absolute;
  top: 0;
  right: 8px;
  height: 100%;
}

@media (max-width: 992px) {

  .button {
    // display: none;
  }

  .form {
    flex: auto;
    display: flex;
  }
}