.nav {
  display: flex;
  align-items: center;
  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 20px;
    background: var(--secondary-text-color);
    margin: 0 3rem;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.25rem;
}

.item {
  position: relative;
}

.link {
  text-transform: lowercase;

  &Active {
    &::after {
      position: absolute;
      top: 100%;
      left: 0;
      content: '';
      margin-top: 0.8rem;
      width: 100%;
      height: 0.125rem;
      background: var(--text-color);
    }
  }
}

.account {
  display: none;
}

@media (max-width: 992px) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: var(--background-color);
    transition: opacity $duration $easing;

    &::after {
      display: none;
    }

    flex-direction: column;
  }

  .show {
    opacity: 1;
    visibility: visible;
  }

  .hidden {
    opacity: 0;
    visibility: hidden;
  }

  .list {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 4rem;
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }

  .link {
    font-size: 1.2rem;
  }

  .account {
    display: flex;
    width: 100%;
  }

  .accountLink {
    display: flex;
    gap: 0.4rem;
    color: inherit;
    text-decoration: none;
    font: {
      size: 1.2rem;
    }
    padding: 20px;
  }
}