.Cart {
  --padding: 1rem;
  position: fixed;
  inset: 0 0 0 auto;
  z-index: 99;
  display: flex;
  flex-direction: column;
  width: 41rem;
  background-color: var(--background-color);
}

.Header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
}

.Header__Row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.Header__SpaceBlock {
  width: 24px;
}

.Cart__Main {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.Cart__Empty {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Cart__List {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1.25rem;
  overflow-y: auto;
  padding: var(--padding);
}

.Footer {
  margin-top: auto;
  padding: var(--padding);
}

.Footer__Row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.Footer__Button {
  text-decoration: none;
  width: 100%;
}

@media (max-width: 992px) {
  .Cart {
    width: 100%;
  }
}