.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 500px;
  justify-content: center;
}

.form {
  place-self: center;
  width: 100%;
}

.title {
  text-align: center;
  margin: 0 0 50px 0;
}

.groupButton {
  background: var(--secondary-background-color);
  display: flex;
  gap: 5px;
  padding: 5px;
  border-radius: $radius;
  margin: 0 0 50px 0;
}

.button {
  padding: 1rem 0;
  width: 50%;
  background: var(--background-color);
  border-radius: $radius;
  @media (any-hover: hover) {
    &:hover {
      color: var(--accent-color);
    }
  }
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.formRow {}

.label {
  margin: 0 0 0.8rem 0;
  display: block;
  transition: color $duration $easing;
  cursor: pointer;
  @media (any-hover: hover) {
    &:hover {
      color: var(--accent-color);
    }
  }
}

.inputWrapper {
  position: relative;
  display: flex;
}

.switchButton {
  position: absolute;
  height: 100%;
  right: 20px;
}

.submitButton {
  width: 100%;
}