@font-face {
  font: {
    family: 'Quitella';
    weight: 400;
    style: normal;
  }
  src: url('../assets/font/Quitella-Regular.woff2') format('woff2');
}

@font-face {
  font: {
    family: 'Poppins';
    weight: 500;
    style: normal;
  }
  src: url('../assets/font/Poppins-Medium.woff2') format('woff2');
}

@font-face {
  font: {
    family: 'Poppins';
    weight: 400;
    style: normal;
  }
  src: url('../assets/font/Poppins-Regular.woff2') format('woff2');
}