@font-face {
  font: {
    family: 'Allerta Stencil';
    weight: 400;
    style: normal;
  }
  src: url('../assets/font/allerta_stencil_regular.woff2') format('woff2');
}

@font-face {
  font: {
    family: 'DM Sans';
    weight: 500;
    style: normal;
  }
  src: url('../assets/font/DM_Sans_medium.woff2') format('woff2');
}

@font-face {
  font: {
    family: 'DM Sans';
    weight: 400;
    style: normal;
  }
  src: url('../assets/font/DM_Sans_regular.woff2') format('woff2');
}