.Catalog {}

.Catalog__Container {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  gap: 1.5rem;
  height: 100%;
}

.Catalog__Row {}

.PriceSort {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.PriceSort__Label {
  flex-shrink: 0;
}

.Catalog__Showcase {}

.Pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

.Pagination__Arrows {
  display: flex;
  gap: 1rem;
}

.Pagination__Meta {
  display: flex;
  gap: 0.875rem;
}
