.popup {
  position: fixed;
  margin: 10vh auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  background-color: var(--background-color);
  border-radius: $radius;
  max-height: 80vh;
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity $duration $easing;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: opacity $duration $easing;
}

// @media (max-width: 768px) {
//   .popup {
//     right: 0;
//     left: 0;
//     transform: translateX(0);
//   }
// }