.tabbar {
  position: relative;
}

.tabbarContainer {
  display: flex;
  gap: 1.2rem;
  min-width: 100%;
  overflow-x: auto;
}

.indicator {
  position: absolute;
  bottom: 0;
  height: 0.2rem;
  width: 100%;
  background-color: rgb(144, 202, 249);
}