.profileDetails {
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
  padding: 2.8rem 1.2rem;
}

.avatar {
  position: relative;
}

.imageWrapper {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  overflow: hidden;
}

.button {
  cursor: pointer;
}

.logoutButton {
  gap: .6rem;
}

















.editButton {
  background: rebeccapurple;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}


.editPicture {
  width: 20rem;
  
}

.inputFile {
  transition: color $duration $easing;
  width: 100%;
  padding: 0.4rem;
  @media (any-hover: hover) {
    &:hover {
      color: var(--accent-color);
    }
    
  }
}

.label {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.inputFileRow {
  display: flex;
  gap: 0.8rem;
}

.iconDelete {
  font-size: 1.5rem;
}

.input {
  appearance: none;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.buttonSubmit {
  width: 100%;
  margin-top: 2rem;
}

.logoutButton {
  transition: color $duration $easing;
  gap: 0.6rem;
  @media (any-hover: hover) {
    &:hover {
      color: var(--accent-color);
    }
  }
}





.popup {
  padding: 20px;
  border-radius: 1rem;
  background-color: royalblue;
}