.Card {
  width: 100%;
  display: flex;
  gap: 1.6rem;
  border-bottom: 1px solid var(--line-color);
  padding: 0 0 1rem 0;
}

.Card__ImgWrapper {
  flex: 1 0 auto;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
}

.Card__ContentWrapper {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: start;
}

.Card__Row {
  display: flex;
  justify-content: space-between;
}

.Card__Icon {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 576px) {
  .Card__Row {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
  }
}