.showcase {
  --col-min-width: 18.75rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--col-min-width), 1fr));
  gap: 1.25rem;
}

@media (max-width: 600px) {
  .showcase {
    grid-template-columns: 1fr;
  }
}