.header {
  padding: 20px 0;
  margin: 0 0 1.5rem 0;
}

.content {
  display: grid;
  grid-template-columns: 1fr auto auto auto auto;
  align-items: center;
}

.logoText {
  display: inline-flex;
  &::first-letter {
    color: var(--accent-color);
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.account {
  display: flex;
}

.navToggle {
  display: none;
}

@media (max-width: 992px) {

  .logoText {
    width: min-content;
  }

  .actions {
    gap: 1rem;
  }

  .account {
    display: none;
  }

  .navToggle {
    border: none;
    background: transparent;
    display: flex;
  }

  .hamburger, .hamburger::before, .hamburger::after {
    width: 2em;
    height: 2px;
    background: var(--text-color);
    border-radius: 2px;
    transition:
      transform $duration $easing,
      opacity .2s linear;
  }

  .hamburger {
    position: relative;
    z-index: 99;
    display: block;
    &::before, &::after {
      content: '';
      position: absolute;
      left: 0;
    }

    &::before {
      bottom: 8px;
    }

    &::after {
      top: 8px;
    }
  }

  .close {
    &.hamburger {
      transform: rotate(45deg);
    }

    &.close.hamburger::before {
      opacity: 0;
    }
  
    &.close.hamburger::after {
      transform: rotate(90deg) translate(-8px);
    }
  }
}